
html,body {
    height: 100%;
    margin:0;
}
.imgfnd{
    background-image: url("esza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}